[submodule "Vendor/unity-ui-document-design-system"]
	path = Vendor/unity-ui-document-design-system
	url = https://github.com/sinanata/unity-ui-document-design-system
[submodule "Tools/.orchestrator"]
	path = Tools/.orchestrator
	url = https://github.com/sinanata/unity-cross-platform-local-build-orchestrator.git
[submodule "Vendor/unity-3d-to-sprite-baker"]
	path = Vendor/unity-3d-to-sprite-baker
	url = https://github.com/sinanata/unity-3d-to-sprite-baker.git
